body{
    background-image: url("https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRlY2h8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

:root{
    --var-font: "Reddit Mono", monospace;
}

header{
    position: fixed;
    width: 100%;
    background: transparent;
    display: flex;
    height: 120px;
    /* padding: 50px; */
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(3px);
    top: 0px;
    left:0px;
    background-color: rgba(0,0,0,0.5);
}

#logo{
    font-size: 20px;
    font-family: 'arial';
    /* font-weight: bolder; */
    color: whitesmoke;
    /* text-shadow: 0 0 15px #3068e0,
    0 0 25px #3068e0,
    0 0 50px #3068e0,
    0 0 100px #3068e0; */
}
#logo span{
    color: rgb(115, 250, 102);
    /* text-shadow: 0 0 15px #6bfc90,
                 0 0 25px #6bfc90,
                 0 0 50px  #6bfc90,
                 0 0 150px #6bfc90; */
}
#logo:hover{
    /* transform: scale(1.1); */
    /* transition: 2s; */
}
#lord{
    color:white;
}
nav {
    /* font-weight: bolder; */
}
nav a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 20px;
   
}

nav a {
  font-family: var(--var-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav a:hover, nav a:active{
    text-shadow: 0 0 15px #3068e0,
                 0 0 25px #3068e0,
                 0 0 50px #3068e0,
                 0 0 100px #3068e0;
                 transition:  1s;
}
#hamb{
    display: none;
}
#hamb a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
#come{
    display: none;
}

#content{
    width: 100%;
    height: fit-content;
    /* padding: 20px; */
    background-color: rgba(0,0,0,0.5);
}

#content{
    color:white;
}

#content:target{
    transition: 1s;
}
.intro{
   width: fit-content;
   height: fit-content;
   margin: auto;
   text-align: center;
   font-family: calibri; 
   margin-top: 120px;
   padding: 20px;
}
.icon{
    margin: auto;
    text-align: center;
    font-family: calibri; 
    margin-top: 20px;
    width: fit-content;
    display: flex;
    gap:20px;
}
.icon a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}
.btn{
    margin: auto;
    text-align: center;
    font-family: calibri; 
    margin-top: 20px;
    width: fit-content;
    display: flex;
    gap:20px;
}
.btn a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid whitesmoke;
    border-radius: 20px;  
}
.btn a:hover{
    box-shadow:  0 0 15px #3068e0,
    0 0 25px #3068e0,
    0 0 50px #3068e0,
    0 0 100px #3068e0;
    transition:  1s ;
}
/* #About{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    margin-top: 5px;
    color:white;
}

#About:target{
    margin-top: 0;
    transition-duration: 0.1s;
} */
.flex-box{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 100px;
    /* margin: auto; */
    width: fit-content;
}
.first,.second,.third{
    width: 200px;
    height: 60vh;
    padding: 20px;
    background: #6bfc90;
    border-radius: 10px;
}
.first:hover,.second:hover,.third:hover{
    transition: 1s;
    box-shadow: 0 0 50px #3068e0;
    transform: scale(1.03);
}

#Service{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    margin-top: 15px;
    color:white;
}

#Service:target{
    margin-top: 15px;
    transition-duration: 0.1s;
}

#Contact{
    display:flex;
    gap:2%;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: fit-content;
    padding: 20px;
    /* background-color: rgba(0,0,0,0.5); */
    /* background-color: red; */
    margin-top:100px;
    color:white;
}

#Contact:target{
    margin-top: 100px;
    transition-duration: 0.1s;
}

#socialhandle{
    background: transperent;
    height: 100%;
    width: 40%;
    margin-top: 100px;
}

.s-h{
    font-size: 22pt;
    font-family: var(--var-font);
    font-weight: bold;
    text-transform: capitalize;
}

.s-b{
    font-family: candara;
    margin-top: 15px;
    line-height: 1.5;
}

.s-b ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.s-b li{
    padding: 5px;
    font-family: calibri;
}



#form{
    width: 40%;
    margin-top: 50px;
    height: 100%;
}

form{
    margin: 0 auto;
    height: fit-content;
    width: 100%;
    backdrop-filter: blur(7px);
    background: rgba(244, 255, 255, 0.2);
    padding: 30px;
    border-radius:5px;

    
}
form input{
    background: whitesmoke;
    width: 80%;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

.Textarea{
    width: 80%;
    margin-top: 20px;
    height: 150px;
}
#btn{
    width:150px;
    border-radius:5px;
    margin-top: 20px;
    border: none;
    padding: 10px;
    background-color: #3068e0;
    color: white;
    font-weight: bolder;

}






