body{
    background-image: url("https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRlY2h8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 300vh;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --var-font: "Reddit Mono", monospace;
}

header{
    position: fixed;
    width: 100%;
    background: transparent;
    display: flex;
    height: 120px;
    /* padding: 50px; */
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(3px);
    top: 0px;
    left:0px;
}
#logo{
    font-size: 20px;
    font-family: 'arial';
    /* font-weight: bolder; */
    color: whitesmoke;
    text-shadow: 0 0 15px #3068e0,
    0 0 25px #3068e0,
    0 0 50px #3068e0,
    0 0 100px #3068e0;
}
#logo span{
    color: rgb(115, 250, 102);
    text-shadow: 0 0 15px #6bfc90,
                 0 0 25px #6bfc90,
                 0 0 50px  #6bfc90,
                 0 0 150px #6bfc90;
}
#logo:hover{
    /* transform: scale(1.1); */
    /* transition: 2s; */
}
nav {
    /* font-weight: bolder; */
}
nav a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 20px;
   
}

nav a {
  font-family: var(--var-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav a:hover, .active{
    text-shadow: 0 0 15px #3068e0,
                 0 0 25px #3068e0,
                 0 0 50px #3068e0,
                 0 0 100px #3068e0;
                 transition:  1s;
}
#hamb{
    display: none;
}
#hamb a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
#come{
    display: none;
}

#content{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    margin-top: 150px;
}
#content{
    color:white;
}

.intro{
   width: fit-content;
   height: fit-content;
   margin: auto;
   text-align: center;
   font-family: calibri; 
   margin-top: 100px;
}
.icon{
    margin: auto;
    text-align: center;
    font-family: calibri; 
    margin-top: 20px;
    width: fit-content;
    display: flex;
    gap:20px;
}
.icon a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}
.btn{
    margin: auto;
    text-align: center;
    font-family: calibri; 
    margin-top: 20px;
    width: fit-content;
    display: flex;
    gap:20px;
}
.btn a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid whitesmoke;
    border-radius: 20px;  
}
.btn a:hover{
    box-shadow:  0 0 15px #3068e0,
    0 0 25px #3068e0,
    0 0 50px #3068e0,
    0 0 100px #3068e0;
    transition:  1s ;
}